<%include partial/header%>
		<div class="container">
			<!-- bar 5 start -->
			<div class="left-utility">
					<div class="inner-panel">	
					<img src="images/adv1.jpg"  alt="" class="img-responsive">
					</div>
			</div>
			<div class="right-utility">
                            <div class="top-right"><div class="inner-panel"><img src="images/adv2.jpg" alt="" class="img-responsive"></div></div>
                            <div class="top-left"><div class="inner-panel"><img src="images/adv3.jpg" alt="" class="img-responsive"></div></div>
                            <div class="top-left"><div class="inner-panel"><img src="images/adv4.jpg" alt="" class="img-responsive"></div></div>
                            <div class="clear"></div>
			</div>
			<!-- bar 5 end -->
			<section>
			<!-- New Product start -->
				 <div class="heading-1">
				       <h4>New Products</h4>
				 </div>
		
		<div class="arrow-navi">
                <div class="arrow">
                    <a class="prev2"><span class="fa fa-long-arrow-left design"></span></a>
                    <a class="next2"><span class="fa fa-long-arrow-right design"></span></a>
                </div>
        </div>
		
			<div class="pro-slide">
			<div id="owl-demo" class="owl-carousel">
                <!-- Item open -->
                <div class="item">
	                	<div class="product-thumb">
		          			<div class="pro-img"><img src="images/pro1.jpg" alt=""></div>	
		          			<div class="butns">
		          				<a href="" class="view">View</a>
		          				<a href="" class="view">Buy Now</a>
		          			</div>
				    	</div>
				    	<div class="des-title">
				    		Elegant Handmade Owl
				    	</div>
				    	<div class="rate"><span class="fa fa-inr rupee"></span>450.00</div>
		   		 </div>
		   		 <!-- Item Closed -->
		   		  <!-- Item open -->
                <div class="item">
	                	<div class="product-thumb">
		          			<div class="pro-img"><img src="images/pro2.jpg" alt=""></div>
		          			<div class="butns">
		          				<a href="" class="view">View</a>
		          				<a href="" class="view">Buy Now</a>
		          			</div>	
				    	</div>
				    	<div class="des-title">
				    		Elegant Fibre Lord Hanuman 
				    	</div>
				    	<div class="rate"><span class="fa fa-inr rupee"></span>900.00</div>
		   		 </div>
		   		 <!-- Item Closed -->
		   		  <!-- Item open -->
                <div class="item">
	                	<div class="product-thumb">
		          			<div class="pro-img"><img src="images/pro3.jpg" alt=""></div>	
		          			<div class="butns">
		          				<a href="" class="view">View</a>
		          				<a href="" class="view">Buy Now</a>
		          			</div>
				    	</div>
				    	<div class="des-title">
				    		Brass Shri Krishna Statue
				    	</div>
				    	<div class="rate"><span class="fa fa-inr rupee"></span>1300.00</div>
		   		 </div>
		   		 <!-- Item Closed -->
		   		  <!-- Item open -->
                <div class="item">
	                	<div class="product-thumb">
		          			<div class="pro-img"><img src="images/pro4.jpg" alt=""></div>	
		          			<div class="butns">
		          				<a href="" class="view">View</a>
		          				<a href="" class="view">Buy Now</a>
		          			</div>
				    	</div>
				    	<div class="des-title">
				    		Brass Gautama Buddha 
				    	</div>
				    	<div class="rate"><span class="fa fa-inr rupee"></span>4000.00</div>
		   		 </div>
		   		 <!-- Item Closed -->
		   		  <!-- Item open -->
                <div class="item">
	                	<div class="product-thumb">
		          			<div class="pro-img"><img src="images/pro5.jpg" alt=""></div>	
		          			<div class="butns">
		          				<a href="" class="view">View</a>
		          				<a href="" class="view">Buy Now</a>
		          			</div>
				    	</div>
				    	<div class="des-title">
				    		Horse Cart
				    	</div>
				    	<div class="rate"><span class="fa fa-inr rupee"></span>1000.00</div>
		   		 </div>
		   		 <!-- Item Closed -->
		   		  <!-- Item open -->
                <div class="item">
	                	<div class="product-thumb">
		          			<div class="pro-img"><img src="images/pro1.jpg" alt=""></div>	
		          			<div class="butns">
		          				<a href="" class="view">View</a>
		          				<a href="" class="view">Buy Now</a>
		          			</div>
				    	</div>
				    	<div class="des-title">
				    		Elegant Handmade Owl
				    	</div>
				    	<div class="rate"><span class="fa fa-inr rupee"></span>450.00</div>
		   		 </div>
		   		 <!-- Item Closed -->
			</div><!-- owl carousel closed -->
        	</div><!-- pro-slide closed -->
		<!-- Featured Products Start -->
		 <div class="heading-1">
				      <h4>Featured Products</h4>
		 </div>

		<div class="arrow-navi">
                <div class="arrow">
                	<a class="prev3"><span class="fa fa-long-arrow-left design"></span></a>
                	<a class="next3"><span class="fa fa-long-arrow-right design"></span></a>
                </div>
        </div>
        <div class="pro-slide2">
			<div id="owl-demo2" class="owl-carousel">
                <!-- Item open -->
                <div class="item">
	                	<div class="product-thumb">
		          			<div class="pro-img"><img src="images/pro1.jpg" alt=""></div>	
				    	</div>
				    	<div class="des-title">
				    		Elegant Handmade Owl
				    	</div>
				    	<div class="rate"><span class="fa fa-inr rupee"></span>450.00</div>
		   		 </div>
		   		 <!-- Item Closed -->
		   		  <!-- Item open -->
                <div class="item">
	                	<div class="product-thumb">
		          			<div class="pro-img"><img src="images/pro2.jpg" alt=""></div>	
				    	</div>
				    	<div class="des-title">
				    		Elegant Fibre Lord Hanuman 
				    	</div>
				    	<div class="rate"><span class="fa fa-inr rupee"></span>900.00</div>
		   		 </div>
		   		 <!-- Item Closed -->
		   		  <!-- Item open -->
                <div class="item">
	                	<div class="product-thumb">
		          			<div class="pro-img"><img src="images/pro3.jpg" alt=""></div>	
				    	</div>
				    	<div class="des-title">
				    		Brass Shri Krishna Statue
				    	</div>
				    	<div class="rate"><span class="fa fa-inr rupee"></span>1300.00</div>
		   		 </div>
		   		 <!-- Item Closed -->
		   		  <!-- Item open -->
                <div class="item">
	                	<div class="product-thumb">
		          			<div class="pro-img"><img src="images/pro4.jpg" alt=""></div>	
				    	</div>
				    	<div class="des-title">
				    		Brass Gautama Buddha 
				    	</div>
				    	<div class="rate"><span class="fa fa-inr rupee"></span>4000.00</div>
		   		 </div>
		   		 <!-- Item Closed -->
		   		  <!-- Item open -->
                <div class="item">
	                	<div class="product-thumb">
		          			<div class="pro-img"><img src="images/pro5.jpg" alt=""></div>	
				    	</div>
				    	<div class="des-title">
				    		Horse Cart
				    	</div>
				    	<div class="rate"><span class="fa fa-inr rupee"></span>1000.00</div>
		   		 </div>
		   		 <!-- Item Closed -->
		   		  <!-- Item open -->
                <div class="item">
	                	<div class="product-thumb">
		          			<div class="pro-img"><img src="images/pro1.jpg" alt=""></div>	
				    	</div>
				    	<div class="des-title">
				    		Elegant Handmade Owl
				    	</div>
				    	<div class="rate"><span class="fa fa-inr rupee"></span>450.00</div>
		   		 </div>
		   		 <!-- Item Closed -->
			</div><!-- owl carousel closed -->
        	</div><!-- pro-slide closed -->


        	<!-- Slide2 -->
        <div class="pro-slide">
			<div id="owl-demo3" class="owl-carousel">
                <!-- Item open -->
                <div class="item">
	                	<div class="product-thumb">
		          			<div class="pro-img"><img src="images/pro1.jpg" alt=""></div>	
				    	</div>
				    	<div class="des-title">
				    		Elegant Handmade Owl
				    	</div>
				    	<div class="rate"><span class="fa fa-inr rupee"></span>450.00</div>
		   		 </div>
		   		 <!-- Item Closed -->
		   		  <!-- Item open -->
                <div class="item">
	                	<div class="product-thumb">
		          			<div class="pro-img"><img src="images/pro2.jpg" alt=""></div>	
				    	</div>
				    	<div class="des-title">
				    		Elegant Fibre Lord Hanuman 
				    	</div>
				    	<div class="rate"><span class="fa fa-inr rupee"></span>900.00</div>
		   		 </div>
		   		 <!-- Item Closed -->
		   		  <!-- Item open -->
                <div class="item">
	                	<div class="product-thumb">
		          			<div class="pro-img"><img src="images/pro3.jpg" alt=""></div>	
				    	</div>
				    	<div class="des-title">
				    		Brass Shri Krishna Statue
				    	</div>
				    	<div class="rate"><span class="fa fa-inr rupee"></span>1300.00</div>
		   		 </div>
		   		 <!-- Item Closed -->
		   		  <!-- Item open -->
                <div class="item">
	                	<div class="product-thumb">
		          			<div class="pro-img"><img src="images/pro4.jpg" alt=""></div>	
				    	</div>
				    	<div class="des-title">
				    		Brass Gautama Buddha 
				    	</div>
				    	<div class="rate"><span class="fa fa-inr rupee"></span>4000.00</div>
		   		 </div>
		   		 <!-- Item Closed -->
		   		  <!-- Item open -->
                <div class="item">
	                	<div class="product-thumb">
		          			<div class="pro-img"><img src="images/pro5.jpg" alt=""></div>	
				    	</div>
				    	<div class="des-title">
				    		Horse Cart
				    	</div>
				    	<div class="rate"><span class="fa fa-inr rupee"></span>1000.00</div>
		   		 </div>
		   		 <!-- Item Closed -->
		   		  <!-- Item open -->
                <div class="item">
	                	<div class="product-thumb">
		          			<div class="pro-img"><img src="images/pro1.jpg" alt=""></div>	
				    	</div>
				    	<div class="des-title">
				    		Elegant Handmade Owl
				    	</div>
				    	<div class="rate"><span class="fa fa-inr rupee"></span>450.00</div>
		   		 </div>
		   		 <!-- Item Closed -->
			</div><!-- owl carousel closed -->
        	</div><!-- pro-slide closed -->
        	<!-- Slide2  -->
		




			</section><!-- Section closed -->
	</div><!-- main conatiner closed -->
</div>
<%include partial/footer%>