<%include partial/header%>
		<div class="container pro-panel">
			  <form class="form-signin1" action="saveUser" method="post">
			    <h3 class="form-signin-heading">Create Account</h3>
			    
  					<input name="name" type="text" class="form-control spacing" placeholder="Name" aria-describedby="sizing-addon1">
  					<input name="email" type="email" class="form-control spacing" placeholder="Email" aria-describedby="sizing-addon1">
  					<input name="password" type="password" class="form-control spacing" placeholder="Password" aria-describedby="sizing-addon1">
  					<input name="phone_no" type="text" class="form-control spacing" placeholder="Phone No" aria-describedby="sizing-addon1">
  					<textarea name="address" class="form-control spacing" placeholder="Address" aria-describedby="sizing-addon1"></textarea>
			    <button class="login" type="submit">Submit</button>
			  </form>
		</div><!-- main conatiner closed -->
</div>
<%include partial/footer%>